<div style="height: 15px;"></div>
<div id="image-container" style="margin-right: 5%;"></div>
<script>
  async function getRandomImageUrl() {
    const url = 'https://api.github.com/repos/cat-milk/Anime-Girls-Holding-Programming-Books/contents/SICP';

    try {
      const response = await fetch(url);
      if (!response.ok) {
        throw new Error('Network response was not ok ' + response.statusText);
      }
      const data = await response.json();

      const randomIndex = Math.floor(Math.random() * data.length);
      const randomImage = data[randomIndex];
      const downloadUrl = randomImage.download_url;
      console.log('Random Image URL:', downloadUrl);

      return downloadUrl;
    } catch (error) {
      console.error('Fetch error:', error);
    }
  }
  window.addEventListener('load', async () => {
    const imageUrl = await getRandomImageUrl();
    if (imageUrl) {
      const imageContainer = document.getElementById('image-container');
      imageContainer.innerHTML = `<img src="${imageUrl}" alt="Random Image" style="max-width: 100%;">`;
    } else {
    }
  });

  const imageUrl = getRandomImageUrl();
  const imgElement = document.createElement('img');
  imgElement.src = imageUrl;
  document.getElementById('image-container').appendChild(imgElement);
</script>