---
---

<div id="search" class="w-full max-w-md"></div>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script is:inline src="/pagefind/pagefind-ui.js"></script>
<script is:inline>
  window.addEventListener('DOMContentLoaded', function() {
    new PagefindUI({
      element: '#search',
      showSubResults: true,
      showImages: false,
    });
  });
</script>
